.about__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__title {
  margin-bottom: 4rem;
  color: var(--clr-slate600);
  font-size: var(--size-4xl);
}

.about__number {
  font-weight: 900;
  font-size: var(--size-6xl);
  color: var(--clr-light);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--clr-slate400);
}

.about__description {
  font-size: var(--size-xl);
  padding-right: 3rem;
  text-align: justify;
  margin-top: 0.7rem;
  line-height: 1.6rem;
}

.about__example {
  display: flex;
  align-items: center;
  flex: 1 1;
  gap: 2rem;
}

.about__text__box {
  flex: 50%;
}

.about__img__box {
  flex: 50%;
}

.about__image {
  border-radius: 1.5em;
}

.about__heading {
  color: var(--clr-slate600);
  font-size: var(--size-2xl);
  text-transform: uppercase;
}

/* 2xl 4k*/
/* @media (max-width: 1536px) {} */

/* xl L Laptop*/
/* @media (max-width: 1280px) {} */

/* lg laptop*/
@media (max-width: 1024px) {
  .about__title {
    font-size: 1.8rem;
  }

  .about__number {
    font-size: var(--size-5xl);
  }

  .about__heading {
    font-size: var(--size-xl);
  }

  .about__example {
    gap: 0.5rem;
  }
}

/* md tablet*/
@media (max-width: 768px) {
  .about__text__box {
    margin-right: -40px;
  }

  .about__title {
    font-size: var(--size-2xl);
  }

  .about__box {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about__example {
    display: inline-block;
  }

  .about__img__box {
    margin-top: 1.5rem;
  }
}

/* sm small-tablet*/
/* @media (max-width: 640px) {} */

/* xs phone*/
@media (max-width: 475px) {
  .about__text__box {
    margin-right: -40px;
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__title {
    padding-inline: 5%;
  }
}
