header {
  background-color: var(--clr-light);
  position: fixed;
  width: 100%;
  z-index: 9999999;
  /* height: 150px; */
  transition: transform 0.6s;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px;
  padding: 3rem 0.5rem;
}

.nav-hidden {
  transform: translateY(-12.25rem);
}

.header__logo {
  height: 100px;
  width: 400px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 2em;
}

.header__menu :last-child {
  margin-left: 1rem;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: var(--size-lg);
  color: var(--clr-slate800);
  letter-spacing: -0.05em;
  position: relative;
  margin: 0 20px;
  text-transform: uppercase;
}

.header__link::after {
  content: "";
  height: 2.5px;
  width: 0;
  background: var(--clr-amber);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.header__link:hover::after {
  width: 100%;
}

.btn__header {
  font-size: var(--size-2xl);
  text-transform: uppercase;
}

.header__bars {
  color: var(--clr-slate800);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: none;
}

/* MEDIA QUERIES */

/* 2xl 4k*/
/* @media (max-width: 1536px) {} */

/* xl L Laptop*/
@media (max-width: 1280px) {
  .nav {
    padding: 2rem 0.4rem;
  }

  .header__logo {
    height: 90px;
    width: 360px;
  }

  .header__menu {
    gap: 1.4rem;
  }

  .header__link {
    font-size: var(--size-base);
    margin: 0 18px;
  }

  .btn__header {
    font-size: var(--size-lg);
  }
}

/* lg laptop*/
@media (max-width: 1024px) {
  .nav {
    padding: 1.5rem 0.3rem;
  }

  .header__logo {
    height: 70px;
    width: 280px;
  }

  .header__menu {
    gap: 0.7rem;
  }

  .header__link {
    font-size: var(--size-base);
    margin: 0 16px;
  }

  .btn__header {
    font-size: var(--size-base);
  }
}

/* md tablet*/
@media (max-width: 768px) {
  .nav {
    padding: 1rem 0.2rem;
  }

  .header__logo {
    height: 60px;
    width: 240px;
  }

  /* .header__menu {
    gap: 0.2rem;
  }

  .header__link {
    font-size: var(--size-base);
    margin: 0 2px;
  } */

  .btn__header {
    font-size: var(--size-sm);
  }

  .header__bars {
    display: block;
  }

  .header__menu {
    display: none;
  }
}

/* sm small-tablet*/
/* @media (max-width: 640px) {} */

/* xs phone*/
@media (max-width: 475px) {
  .header__menu {
    display: none;
  }
}
