.hero {
  max-width: 2600px;
  height: 900px;
  margin-inline: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.35)),
    url(../../img/hero2.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 300px;
  position: relative;
}

.hero__title {
  text-shadow: 0 0 3px #000000, 0 0 5px #0a0a0a;
  font-size: var(--size-7xl);
  color: var(--clr-light);
}

.hero__subtitle {
  padding-top: 3rem;
  font-size: var(--size-2xl);
  font-weight: 600;
  text-shadow: 0 0 3px #080000, 0 0 5px #000000;
  color: var(--clr-light);
}

.btn__hero {
  margin-top: 5rem;
  font-size: var(--size-5xl);
}

/* MEDIA QUERIES */

/* 2xl 4k*/
/* @media (max-width: 1536px) {} */

/* xl L Laptop*/
@media (max-width: 1280px) {
  .hero {
    height: 740px;
    padding-top: 220px;
  }
  .hero__title {
    font-size: var(--size-6xl);
  }
  .hero__subtitle {
    font-size: var(--size-xl);
  }
  .btn__hero {
    font-size: var(--size-4xl);
  }
}

/* lg laptop*/
/* @media (max-width: 1024px) {} */

/* md tablet*/
@media (max-width: 768px) {
  .hero {
    height: 580px;
    padding-top: 140px;
  }
  .hero__title {
    font-size: var(--size-5xl);
  }
  .hero__subtitle {
    font-size: var(--size-lg);
  }
  .btn__hero {
    margin-top: 4rem;
    font-size: var(--size-3xl);
  }
}

/* sm small-tablet*/
/* @media (max-width: 640px) {} */

/* xs phone*/
@media (max-width: 475px) {
  .hero {
    height: 540px;
    padding-top: 130px;
  }
  .hero__title {
    font-size: var(--size-4xl);
    text-align: center;
  }
  .hero__subtitle {
    font-size: var(--size-base);
    text-align: center;
  }
  .btn__hero {
    margin-top: 2rem;
    font-size: var(--size-2xl);
    margin-left: 50%;
    transform: translate(-50%);
  }
}
