.hero {
  max-width: 2600px;
  height: 900px;
  margin-inline: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.35)),
    url(../../img/hero2.jpg);
  background-size: cover;
  /* background-repeat: no-repeat */
  background-position: center;
  padding-top: 230px;

  /* text-align: center; */
  /* justify-content: center; */
}

.hero__title {
  text-shadow: 0 0 3px #000000, 0 0 5px #0a0a0a;
  /* color: var(--clr-dark); */
  font-size: 50px;
  color: var(--clr-light);
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--clr-slate800); */
}

.hero__subtitle {
  padding-top: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  /* text-align: center; */
  /* padding-inline: 10rem; */
  /* color: var(--clr-dark); */
  text-shadow: 0 0 3px #080000, 0 0 5px #000000;
  color: var(--clr-light);
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--clr-slate800); */
}

.btn__hero {
  margin-top: 5rem;
  font-size: 42px;
}

/* .hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.hero__img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.hero__subtitle {
  color: var(--clr-slate800);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero__title {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.hero__btn {
  text-transform: capitalize;
  font-size: var(--size-sm);
}

/* xs */
/* @media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__btn {
    font-size: var(--size-base);
  }
} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
} */

/* xl */
/* @media (min-width: 1280px) {
  @media (min-width: 1024px) {
    .hero {
      gap: 2rem;
    }

    .hero__img {
      width: 10rem;
      height: 10rem;
    }

    .hero__subtitle {
      font-size: var(--size-4xl);
    }

    .hero__title {
      font-size: var(--size-9xl);
    }

    .hero__description {
      font-size: var(--size-xl);
    }

    .hero__btn {
      font-size: var(--size-xl);
    }
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
